### TeX ###
## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc

## Intermediate documents:
*.dvi
*-converted-to.*

## Build PDFs inside examples/ (워크플로우가 빌드 중 생성, 최종본은 루트 resume.pdf/cv.pdf):
examples/*.pdf

### Editor ###
## Vim & Emacs temp files:
.*sw[op]
*~

### Mac OS X ###
## Mac OS X metadata files:
*.DS_Store

